Assignment5/WebApplication1/Connected Services/SearchFlights/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar56.fulton.asu.edu/Page3/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar56.fulton.asu.edu/Page3/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar56.fulton.asu.edu/Page3/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getCityCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:getCityCodes" />
  </wsdl:message>
  <wsdl:message name="IService1_getCityCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCityCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_searchFlights_InputMessage">
    <wsdl:part name="parameters" element="tns:searchFlights" />
  </wsdl:message>
  <wsdl:message name="IService1_searchFlights_OutputMessage">
    <wsdl:part name="parameters" element="tns:searchFlightsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getCityCodes">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getCityCodes" message="tns:IService1_getCityCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getCityCodesResponse" message="tns:IService1_getCityCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="searchFlights">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/searchFlights" message="tns:IService1_searchFlights_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/searchFlightsResponse" message="tns:IService1_searchFlights_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getCityCodes">
      <soap:operation soapAction="http://tempuri.org/IService1/getCityCodes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchFlights">
      <soap:operation soapAction="http://tempuri.org/IService1/searchFlights" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar56.fulton.asu.edu/Page3/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>